<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <style>
        body {
            font-family: "Noto Sans KR", 'sans-serif';
        }
    </style>
</head>
<body>
<div style="width: 600px; min-height: 800px; margin: 0 auto; padding: 30px; border: 1px solid #888;">
    <h1 style="text-align: center">샘플 이력서</h1>
    <hr/>
    <table style="width: 100%; border-collapse: collapse;">
        <th:block th:each="item:${resultList}">
            <tr th:if="${not #strings.isEmpty(item.key)}">
                <th style="padding-right: 10px; text-align: right; width: 50%; height: 40px; border-right: #888 1px solid;" th:text="${item.subject}"></th>
                <td style="text-indent: 10px;" th:text="${item.content}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
